* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

:root {
    --dark-blue: #001533;
    --baby-blue: #89CFF0;
    --blue: #5b85dd;
}

/* || UTILS */
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* || */
div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--dark-blue);
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header > div img {
    margin-right: 1rem;
    width: 2.5rem;
}

header h1 {
    font-size: 1.8rem;
}

header #difficulty-selector,
#play,
#restart {
    color: var(--dark-blue);
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

header #difficulty-selector {
    margin-right: 1rem;
    background-color: white;
    border-color: #888383;
    padding: .4rem .5rem;
}

#play,
#restart {
    padding: .4rem 1.5rem;
    background-color: var(--baby-blue);
    font-size: .9rem;
}

#play:hover,
#restart:hover {
    background-color: var(--blue);
    color: white;
}

/* || MAIN */
main {
    background-color: var(--baby-blue);
    height: calc(100% - 120px);
    flex-direction: column;
    position: relative;
}

#grid {
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 2rem;
}

#grid article.cell {
    border: 1px solid var(--dark-blue);
    cursor: pointer;
}

#grid article.cell.easy {
    width: calc(100% / 10 - 2px);
    height: calc(100% / 10 - 2px);
}

#grid article.cell.medium {
    width: calc(100% / 9 - 2px);
    height: calc(100% / 9 - 2px);
}

#grid article.cell.hard {
    width: calc(100% / 7 - 2px);
    height: calc(100% / 7 - 2px);
}

#grid article.cell.active {
    background-color: var(--blue);
    color: white;
}

#grid article.cell.bomb.active {
    background-color: #ff3e6c;
    color: black;
}

div.alert {
    position: absolute;
    width: 100%;
    background-color: rgba(91, 133, 221, .5);
    height: 100%;
}

div.alert > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 300px;
    height: 180px;
    background-color: white;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

div.alert.hidden {
    display: none;
}

div.alert p:first-child {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
}


/* || FOOTER */
footer {
    height: 50px;
    padding: 1rem 2rem;
}